In [1]:
import pandas as pd

In [2]:
# loading the csv data to a Pandas DataFrame
df = pd.read_csv("C:\\Users\\91951\\Downloads\\bmi.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [4]:
# print first 5 rows of the dataset
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [5]:
# print last 5 rows of the dataset
df.tail()

     Gender  Height  Weight  Index
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

In [6]:
# number of rows and columns in the dataset
df.shape

(500, 4)

In [7]:
df.columns

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [8]:
# statistical measures about the data
df.describe()

           Height      Weight       Index
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000

In [9]:
# check for missing values
df.isnull().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [10]:
# Converting the gender column labels into a numeric form

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["gender"] = le.fit_transform(df["Gender"])

In [11]:
df.describe()

           Height      Weight       Index      gender
count  500.000000  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000    0.490000
std     16.375261   32.382607    1.355053    0.500401
min    140.000000   50.000000    0.000000    0.000000
25%    156.000000   80.000000    3.000000    0.000000
50%    170.500000  106.000000    4.000000    0.000000
75%    184.000000  136.000000    5.000000    1.000000
max    199.000000  160.000000    5.000000    1.000000

In [12]:
# Divide the data into input and output
# Input data -  Height , Weight
# Output - Index

In [18]:
# Input
x = df.drop(["Index","gender","Gender"], axis="columns")
print(x)

     Height  Weight
0       174      96
1       189      87
2       185     110
3       195     104
4       149      61
..      ...     ...
495     150     153
496     184     121
497     141     136
498     150      95
499     173     131

[500 rows x 2 columns]

In [14]:
# Output 
y = df["Index"]
print(y)

0      4
1      2
2      4
3      3
4      3
      ..
495    5
496    4
497    5
498    5
499    5
Name: Index, Length: 500, dtype: int64

In [19]:
# Train and Test variables
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.15)

In [20]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8933333333333333

In [21]:
y_pred = model.predict(x_test) 
y_pred

array([5, 3, 4, 5, 5, 2, 4, 5, 4, 2, 5, 4, 5, 5, 1, 3, 5, 4, 5, 5, 5, 5,
       4, 2, 3, 4, 1, 4, 5, 5, 2, 5, 5, 5, 5, 5, 2, 5, 5, 0, 2, 5, 4, 4,
       4, 5, 5, 4, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 3, 3, 4,
       2, 2, 5, 5, 2, 2, 1, 3, 5], dtype=int64)

### 0 means Extremely Weak
### 1 means Weak
### 2 means Normal
### 3 means Overweight
### 4 means Obesity 
### 5 means Extreme Obesity

In [ ]:
import pickle

In [ ]:
filename = 'bmi.pkl'
pickle.dump(model, open(filename, 'wb'))

In [ ]:
# loading the saved model
loaded_model = pickle.load(open('bmi.pkl', 'rb'))

In [22]:
for column in x.columns:
  print(column)

Height
Weight